@page
@model GestionTerrains.Pages.Staffs.listeStaffModel

@{
    ViewData["Title"] = "listeStaff";
}
<div style="padding-top: 100px;">
    <h1 class="text-center">Liste Du Personnel</h1>

    <div class="text-center mt-3" style="padding-bottom:20px">
		<a asp-page="./AddStaff" class="btn btn-success">Ajouter un nouveau Membre</a>
    </div>
        
    <div class="text-center mt-3">
        <form method="get" asp-page="./listeStaff">
            <div class="form-group d-flex justify-content-center">
                <input type="text" name="SearchString" value="@Model.CurrentFilter" class="form-control w-25" placeholder="Rechercher par nom..." />
                <button type="submit" class="btn btn-primary ml-2">Rechercher</button>
            </div>
        </form>
    </div>


    <table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Staff[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Staff) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                        <a asp-page="./ModifierStaff" asp-route-id="@item.Id" class="btn btn-outline-info">Modifier</a> |
                        <a asp-page="./DetailsStaff" asp-route-id="@item.Id" class="btn btn-outline-success">Details</a> |
                        <a asp-page="./SupprimerStaff" asp-route-id="@item.Id" class="btn btn-outline-danger">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>